# Ambiente virtual
venv/
env/
ENV/

# Arquivos de ambiente
.env

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de distribuição
dist/
build/
*.egg-info/

# Arquivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log 